body {
    text-align: center;
    background-color: black;
}

p {

color:white;

}

.yes {
    background-color: green;
    color: white;
    border: 20px solid transparent;
    cursor: pointer;
}

.no {
    background-color: red;
    color: white;
    border: 20px solid transparent;
}